<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="personal_content">
    <section class="module">
        <div class="container">
            <div class="row">
                <form th:action="@{'/order/preview'}" class="form-group" th:object="${orderDetails}" th:method="POST">
                <div class="details-block">
                    <h4 class="font-alt mb-0">Contact info</h4>
                    <hr class="divider-w mt-10 mb-20">
                    <div>
                        <div class="form-block">
                            <div class="input-block" style="display: none">
                                <label class="label-text" for="info-id">Id</label>
                                <input th:value="${orderDetails.getId()}" th:field="*{id}"  class="form-control account-form" type="text" id="info-id" placeholder=""/>
                            </div>
                            <div class="input-block">
                                <label class="label-text" for="firstName">First name</label>
                                <input th:required="required" th:value="${orderDetails.getContactFirstName()}" th:field="*{contactFirstName}" class="form-control account-form" type="text" id="firstName" placeholder=""/>
                            </div>
                            <div class="input-block">
                                <label class="label-text" for="lastName">Last name</label>
                                <input th:required="required" required="required" th:value="${orderDetails.getContactLastName()}" th:field="*{contactLastName}" class="form-control account-form" type="text" id="lastName" placeholder=""/>
                            </div>
                        </div>
                            </div>
                            <div class="form-block">
                                <div class="input-block">
                                    <label class="label-text" for="phone">Phone number</label>
                                    <input th:required="required" th:value="${orderDetails.getContactPhoneNumber()}" th:field="*{contactPhoneNumber}" class="form-control account-form" type="number" id="phone" placeholder=""/>
                                </div>
                                <div class="input-block">
                                    <label class="label-text" for="phone-reserv">Reserve phone number</label>
                                    <input th:required="required" th:field="*{reservePhoneNumber}" class="form-control account-form" type="number" id="phone-reserv" placeholder=""/>
                                </div>
                            </div>
                    </div>
                    <div class="address-info collapse details-block" id="collapseExample">
                        <h4 class="font-alt mb-0">Delivery info</h4>
                        <hr class="divider-w mt-10 mb-20">
                        <div>
                                <div class="form-block">
                                    <div class="input-block">
                                        <label class="label-text" for="region">Region</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryRegion()}" th:field="*{deliveryRegion}" class="form-control account-form" type="text" id="region" placeholder=""/>
                                    </div>
                                    <div class="input-block">
                                        <label class="label-text" for="street">Street</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryStreet()}" th:field="*{deliveryStreet}" class="form-control account-form" type="text" id="street" placeholder=""/>
                                    </div>
                                </div>
                                <div class="form-block">
                                    <div class="input-block">
                                        <label class="label-text" for="city">City</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryCity()}" th:field="*{deliveryCity}" class="form-control account-form" type="text" id="city" placeholder=""/>
                                    </div>
                                    <div class="input-block">
                                        <label class="label-text" for="building">Building</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryBuilding()}" th:field="*{deliveryBuilding}" class="form-control account-form" type="text" id="building" placeholder=""/>
                                    </div>
                                </div>
                                <div class="form-block">
                                    <div class="input-block">
                                        <label class="label-text" for="zip">Zip code</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryZip()}" th:field="*{deliveryZip}" class="form-control account-form" type="text" id="zip" placeholder=""/>
                                    </div>
                                    <div class="input-block">
                                        <label class="label-text" for="apartment">Apartment</label>
                                        <input th:required="required" th:value="${orderDetails.getDeliveryApartment()}" th:field="*{deliveryApartment}" class="form-control account-form" type="text" id="apartment" placeholder=""/>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="details-block">
                        <h4 class="font-alt mb-0">Payment method</h4>
                        <hr class="divider-w mt-10 mb-20">
                        <div class="form-check form-check-inline">
<!--                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="option1" value="advance">-->
<!--                            <label class="form-check-label" for="option1">Advance payment to a bank account</label>-->
                        </div>
                        <div class="form-check form-check-inline">
                            <div th:each="method : ${T(ua.com.alevel.persistence.type.order.PaymentMethodType).values()}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input th:required="required" type="radio" th:field="*{paymentMethod}" th:value="${method}" class="custom-control-input">
                                    <label class="custom-control-label" th:for="${#ids.prev('paymentMethod')}" th:text="${method.value}">Payment method</label>
                                </div>
                            </div>

<!--                            <input th:field="*{paymentMethod}" class="form-check-input" type="radio" name="inlineRadioOptions" id="option2" value="onDelivery">-->
<!--                            <label th:field="*{paymentMethod}" class="form-check-label" for="option2">Сash on delivery</label>-->
                        </div>
                    </div>
                    <div class="details-block">
                        <h4 class="font-alt mb-0">Order notes</h4>
                        <hr class="divider-w mt-10 mb-20">
                        <textarea th:field="*{notes}" class="form-control" rows="7" cols="50"></textarea>
                    </div>

                    <a class="btn btn-lg btn-block btn-round btn-d"th:href="@{'/cart'}">Back and Edit</a>
                    <button type="submit" class="btn btn-lg btn-block btn-round btn-d" >Next</button>
<!--                    th:href="@{'/order/preview'}"-->
                </form>
            </div>
        </div>
    </section>
</div>


</body>
</html>