<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="personal_content">
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="width: 100%">
          <h1 class="module-title font-alt">Order info</h1>
        </div>
      </div>
      <hr class="divider-w pt-20">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped table-border checkout-table">
            <tbody>
            <tr>
              <th class="hidden-xs">Item</th>
              <th>Description</th>
              <th class="hidden-xs">Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
            <tr th:each="sunglassesItem : ${sunglassesOrderList}">
              <td class="hidden-xs"><a th:href="${sunglassesItem.getImageUrl1()}"><img th:src="${sunglassesItem.getImageUrl1()}" alt="Sunglasses Photo"/></a></td>
              <td>
                <h5 class="product-title font-alt" th:value="${sunglassesItem.getModelName()}" th:text="${sunglassesItem.getModelName()}"></h5>
              </td>
              <td class="hidden-xs">
                <h5 class="product-title font-alt" th:text="'$' + ${sunglassesItem.getPrice()}">
                    Price
                </h5>
              </td>
              <td>
                  <h5 class="product-title font-alt" th:text="${sunglassesItem.qty}"></h5>
              </td>
              <td>
                <h5 class="product-title font-alt" th:text="${sunglassesItem.getTotalPrice()}"></h5>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td class="hidden-xs"><a href="#"><img src="assets/images/shop/product-13.jpg" alt="Men’s Casual Pack"/></a></td>-->
<!--              <td>-->
<!--                <h5 class="product-title font-alt">Men’s Casual Pack</h5>-->
<!--              </td>-->
<!--              <td class="hidden-xs">-->
<!--                <h5 class="product-title font-alt">£20.00</h5>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input class="form-control" type="number" name="" value="1" max="50" min="1"/>-->
<!--              </td>-->
<!--              <td>-->
<!--                <h5 class="product-title font-alt">£20.00</h5>-->
<!--              </td>-->
<!--              <td class="pr-remove">-->
<!--&lt;!&ndash;                <a href="#" title="Remove"><i class="fa fa-times"></i></a>&ndash;&gt;-->
<!--                <input type="checkbox" title="Remove">-->
<!--              </td>-->
<!--            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
      <hr class="divider-w">
      <div class="row mt-20 shop-cart-total">
        <div class="col-sm-5 col-sm-offset-7">
          <div class="shop-Cart-totalbox">
            <h4 class="font-alt">Order Totals</h4>
            <table class="table table-striped table-border checkout-table">
              <tbody>
              <tr>
                <th>Total quantity :</th>
                <td th:text="${orderSummaryDto.getTotalQty()}">£40.00</td>
              </tr>
              <tr class="shop-Cart-totalprice">
                <th>Total amount:</th>
                <td th:text="${orderSummaryDto.getTotalAmount()}">£42.00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-20">
          <div class="form-block" th:object="${orderDetailsSaved}">
            <div class="contact-info-block preview-div">
              <h4 class="font-alt mb-0">Contact info</h4>
              <hr class="divider-w mt-10 mb-20">
              <div>
                <div class="preview-block" style="display: none">
                  <label class="label-text" for="info-id">Id</label>
                  <input th:value="${orderDetailsSaved.getId()}" class="form-control account-form" type="text" id="info-id" placeholder=""/>
                </div>
                <div class="preview-block">
                  <span >Receiver</span>
                  <p class="preview-text" th:text="${orderDetailsSaved.getContactFirstName()} + ' ' + ${orderDetailsSaved.getContactLastName()}"></p>
                </div>
              </div>
              <div class="preview-block">
                <span>Phone number</span>
                <p class="preview-text" th:text="${orderDetailsSaved.getContactPhoneNumber()} + ', ' + ${orderDetailsSaved.getReservePhoneNumber()}"></p>
              </div>
            </div>
            <div class="address-info preview-div collapse" id="collapseExample">
              <h4 class="font-alt mb-0">Delivery info</h4>
              <hr class="divider-w mt-10 mb-20">
              <div class="preview-block">
                <span class="label-text" for="address">Address</span>
                <p class="preview-text" th:text="${orderDetailsSaved.getDeliveryRegion()} + ', ' + ${orderDetailsSaved.getDeliveryRegion()} + ' region, ' + ' city ' + ${orderDetailsSaved.getDeliveryCity()}"></p>
                <p class="preview-text" th:text="${orderDetailsSaved.getDeliveryStreet()} + ' street, b.' + ${orderDetailsSaved.getDeliveryBuilding()} + ' / ' + ${orderDetailsSaved.getDeliveryApartment()}"></p>
              </div>
            </div>
          </div>
          <div class="form-block mt-50 mb-50">
            <div class="payment-block preview-div">
              <h4 class="font-alt mb-0">Payment method</h4>
              <hr class="divider-w mt-10 mb-20">
              <div class="form-check form-check-inline">
                <p class="preview-text" th:text="${orderDetailsSaved.getPaymentMethod()}"></p>
              </div>
            </div>
            <div class="notes-block preview-div">
              <h4 class="font-alt mb-0">Order notes</h4>
              <hr class="divider-w mt-10 mb-20">
              <p class="preview-text" th:text="${orderDetailsSaved.getNotes()}"></p>
            </div>
          </div>
          <div style="text-align: center">
            <a class="btn btn-lg btn-block btn-round btn-d" onclick="history.go(-1)">Back</a>
          </div>
        </div>
    </div>
  </section>
</div>
</body>
</html>