<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="personal_content">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="alert alert-danger">Something went wrong:( Your changes weren't saved. Please check info and try again later.</div>
                <div>
                    <a class="btn btn-lg btn-block btn-round btn-d" th:href="@{'/personal/account'}">Back to account</a>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>