<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="open_content">
    <div class="main">
        <section class="module bg-dark-60 about-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-3">
                        <h2 class="module-title font-alt">About</h2>
<!--                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 about">
                        <h5 class="font-alt">We’re a sunglasses boutique</h5><br/>
                        <div class="about-div">Our online store is specialized in the highest quality products we offer.</div>
                        <div class="about-div">We are proud to offer our customers a wide range of products, selected with particular attention to
                            <br>their quality, environmental friendliness and compliance with the latest market trends.</div>
                    </div>
                </div>
            </div>
        </section>
       <!-- <hr class="divider-w">
        <section class="module-sub">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 about">
                        <div class="about-div">Our mission is to offer our customers only the best. <br>
                            We carefully select each product to meet the highest expectations of our customers. <br>
                            We only partner with trusted suppliers who share our values of quality, sustainability and innovation.</div>
                    </div>
                </div>
            </div>
        </section>-->
        <hr class="divider-w">
        <section class="module-sub" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 about">
                        <div class="about-div">We value the trust and support of our customers and strive to make your shopping journey enjoyable and satisfying.<br>
                            Thank you for choosing SUNBOUT! <br>
                            We look forward to serving you and becoming your favorite store!</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>