<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="open_content">
    <div class="main">
        <section class="module bg-dark-60 contact-page-header" style="padding: 100px 0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-3">
                        <h2 class="module-title font-alt">Get in touch</h2>
                        <!--                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="module contact-block" style="padding: 120px 0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 contact" style="border-right: 1px solid black">
                        <h3 class="font-alt">Where to meet</h3><br/>
                        SUNBOUT Company<br/>23 Golovna Street<br/>Chernivtsi, 58000 UA
                    </div>
                    <div class="col-sm-6 contact">
                        <h3 class="font-alt">Say hello</h3><br/>
                        Email: sunbout@google.com<br/>Phone: +1 234 567 89 10
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>