<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="open_content">
    <div class="main">
        <section class="module bg-dark-60 terms-page-header" style="padding: 100px 0">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </section>
        <section class="module pt-0 pb-0">
            <div class="row">
                <div class="col-6" style="padding: 55px 0">
                    <div class="row">
                        <div class="col-3" style="padding-left: 55px; text-align: center">
                            <img th:src="@{https://i.ibb.co/SwbQxsN/icons8-in-transit-100.png}" alt=""/>
                        </div>
                        <div class="col-8">
                            <div class="alt-features-item" style="margin-top: 0px">
                                <h3 class="alt-features-title font-alt">Shipping</h3>
                                Your order will be shipped out within 1 working day if the items are available in stock.
                                <br>
                                If the items are not available, we will send you an email within 1 working day with the estimated waiting time.
                                <br>
                                Waiting time is approximate and it depends on the availability of our suppliers. <br>
                                After that, handling times depend on the courier service. <br>
                                You will be able to track shipment on the courier’s website by entering the tracking number.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding: 55px 0">
                    <div class="row">
                        <div class="col-3" style="padding-left: 55px; text-align: center">
                            <img th:src="@{https://i.ibb.co/gvW4Pb9/icons8-order-history-100.png}" alt=""/>
                        </div>
                        <div class="col-8">
                            <div class="alt-features-item" style="margin-top: 0px">
                                <h3 class="alt-features-title font-alt">Warranty</h3>
                                The warranty for frames and sunglasses is provided for a period of 6 months, provided that the glasses are used correctly.
                                The warranty for glasses is not provided in case of damage to the glasses that occurred as a result of:<br>
                                - Careless use; <br>
                                - Non-compliance with the rules of use; <br>
                                - Independent replacement of part of the frame, lenses or repair; <br>
                                - Physical wear and tear after the end of the warranty period.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="padding: 55px 0">
                    <div class="row">
                        <div class="col-3" style="padding-left: 55px; text-align: center">
                            <img th:src="@{https://i.ibb.co/YNgNc4M/icons8-card-payment-100.png}" alt=""/>
                        </div>
                        <div class="col-8">
                            <div class="alt-features-item" style="margin-top: 0px">
                                <h3 class="alt-features-title font-alt">Payment</h3>
                                To the item's price you have to add the shipping cost to the destination. <br>
                                Available payment methods <br>
                                - Advance payment to a bank account <br>
                                - Cash on delivery
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding: 55px 0">
                    <div class="row">
                        <div class="col-3" style="padding-left: 55px; text-align: center">
                            <img th:src="@{https://i.ibb.co/K7HQd8L/icons8-move-up-row-100.png}" alt=""/>
                        </div>
                        <div class="col-8">
                            <div class="alt-features-item" style="margin-top: 0px">
                                <h3 class="alt-features-title font-alt">Return policy</h3>
                                You can return the glasses within 14 days from the delivery in accordance with current legislation.
                                First of all, you have to contact with our manager, then fill out our return form and wait for our e-mail with next instructions.
                                The product must be unused, clean and not damaged.
                                Moreover, glasses must be returned in their original packaging with the case and all the accessories you received.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</body>
</html>