<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main_content">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
<!--    <nav class="navbar navbar-dark bg-dark">-->
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="#">Personal <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Features</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Pricing</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--                        Dropdown link-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">Logout</a>-->
<!--        </div>-->
<!--    </nav>-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{'/index'}">
                    <img th:src="@{https://i.ibb.co/CMRK8M2/sun-bout-low-resolution-logo-color-on-transparent-background-1.png}" width="180" alt="SUNBOUT Find a pair for every mood">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="main-menu nav navbar-nav navbar-right nav-menu">
                    <li>
                        <ul class="main-menu nav navbar-nav navbar-right nav-menu">
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/store/about}">About us</a>
                            </li>
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/sunglasses}">Catalogue</a>
                            </li>
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/store/terms}">Terms of order</a>
                            </li>
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/store/contact}">Contact us</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="main-menu nav navbar-nav navbar-right nav-menu">
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/cart}">
                                    <img th:src="@{https://i.ibb.co/27qMy9D/icons8-shopping-bag-50.png}" width="30" title="Cart"/>
                                </a>
                            </li>
                            <li class="nav-menu-point dropdown">
                                <a class="nav-item nav-link" th:href="@{/personal/account}" style="cursor: pointer !important;">
                                    <img th:src="@{https://i.ibb.co/vqZLs0m/icons8-customer-50.png}" width="30" title="My account"/>
                                </a>
                            </li>
                            <li class="nav-menu-point dropdown">
                                <a class="nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">
                                    <img th:src="@{https://i.ibb.co/dB1WNY8/icons8-logout-rounded-50-1.png}" width="30" title="Logout"/>
                                </a>
                            </li>
                        </ul>
                    </li>




                    <!--          <li class="nav-menu-point dropdown">-->
                    <!--            <a class="nav-item nav-link" th:href="@{/sunglasses}">About us</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-menu-point dropdown">-->
                    <!--            <a class="nav-item nav-link" th:href="@{/sunglasses}">Catalogue</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-menu-point dropdown">-->
                    <!--            <a class="nav-item nav-link" th:href="@{/sunglasses}">Terms of order</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-menu-point dropdown">-->
                    <!--            <a class="nav-item nav-link" th:href="@{/sunglasses}">Contact us</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-menu-point dropdown">-->
                    <!--            <a class="nav-item nav-link" th:href="@{/login}" style="cursor: pointer !important;">Login</a>-->
                    <!--          </li>-->
                </ul>
            </div>


<!--            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right nav-menu">
                    <li class="nav-menu-point dropdown">
                        <a class="nav-item nav-link" th:href="@{/sunglasses}">Sunglasses</a>
                    </li>
                    <li class="nav-menu-point dropdown">
                        <a class="nav-item nav-link" th:href="@{/personal/account}" style="cursor: pointer !important;">Your account</a>
                    </li>
                    <li class="nav-menu-point dropdown">
                        <a class="nav-item nav-link" th:href="@{/cart}">Cart</a>
                    </li>
                </ul>
            </div>-->
        </div>
    </nav>
    <div layout:fragment="personal_content"></div>
</div>
</body>
</html>
